h1{
    text-align: center;
}
body {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }
  
  p{
    margin-top: 150px;
    text-align: center;
  
  }



.card{
   background-color:transparent;
   color: rgb(255, 255, 255);
   
  }

  #second{
    color: rgb(255, 255, 255);
  }

  footer{
    text-align: center;
   font-size: 40px;
  
  }